// Turn off picture uploads
.picture-switcher {
  [data-type="uploaded"],
  [data-action="upload"],
  [data-action="upload-url"],
  [data-action="remove-uploaded"] {
    display: none;
  }
}

.modal-dialog,
.main-nav {
  border: 4px red solid;
}


.main-nav {
  [title="Groups"] {
    display: none;
  }
}

