html {


  .SocialLinks-link-icon {
    fill: white;
  }

  .Icon--search--small {
    fill: #000;
  }
  .tweak-social-icons-style-regular .SocialLinks-link {
    transform: scale(2);
    border-radius: 0;
  }

  .tweak-social-icons-style-regular .SocialLinks-link {
    margin: 4.425px;
  }

  .SocialLinks-link {
    display: inline-block;
    position: relative;
    width: 30px;
    margin: 1.9500000000000002px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 170ms ease-in-out;
  }

  [data-nc-container="top-left"] {
    display: flex;
    align-items: center;
  }

  [data-nc-base="header"] [data-nc-container="top-left"] [data-nc-element="branding"] {
    order: 1;
  }

  .Header-nav-inner {
    order: 2;
  }

}

.SocialLinks-inner, .SocialLinks, .Header-social, .SocialLinks-link {
  display: flex;
  align-items: center;
}

.Header-branding {
  text-decoration: none;
}

.Header-branding-logo {
  max-width: 150px;
}


#search-form,
#logged-in-menu {
  display: none;
}

// Hide main nav because we are using hamburger on all widths
#main-nav {
  display: none;
}

.forum-title-subtext {
  padding: 11px 15px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  color: #898989;
}

.navbar-header {
  display: flex;
  align-items: center;
}

html .navbar-brand {
  float: none;
}

// Fix top panel overlapping content on larger screens.
#panel {
  padding-top: 120px !important;
}

// Fix doubled header after login.
#navbar-header {
  display: none;
}
