.slideout-menu {
  background-color: #486c11;
  background-image: none;
}

.Slideout-nav-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slideout-menu .menu-section-title,
.dropdown-header {
  font-size: 1.8rem;
  color: white;
  line-height: 1.2;
}

.Slideout-nav a {
  display: inline-block;
}

.Slideout-nav,
.menu-section-list {
  margin-left: 20px;
}

.Slideout-nav-folder-title:after {
  content: '\00BB';
  font-family: sans-serif;
  color: #FFF;
  padding-left: 5px;
}

.Slideout-nav-folder {
  margin-left: 10px;
}

.Slideout-nav-item {
  padding: 5px 20px;
}

.Slideout-nav-item--donate {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 20px;
}
